<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.value.data.mapper.InterfaceSourceManageMapper">
<!--    List<InterfaceSourceManage> listNotSync();-->
    <select id="listNotSync" resultType="com.value.data.domain.entity.InterfaceSourceManage">
        select *
        from interface_source_manage
        where data_status = 0
        and interface_source_no not in(
            select interface_source_no
            from rde_risk_variable_theme
            where data_status = 0
        )
    </select>
</mapper>
