/**
* @author chris
* @date 2023/6/1 10:59
*/
 /deep/ .el-tabs {
  height: 100%;
}
 /deep/ .el-tabs__nav {
  padding: 0 20px;
}
 /deep/ .el-tabs__active-bar {
  margin-left: 20px;
}
 /deep/ .el-tabs__header {
  margin-bottom: 20px;
}
 /deep/ .el-tabs__content {
  height: calc(100% - 62px);
  padding: 0 20px 20px;
}
 /deep/ .el-tabs__content .el-tab-pane {
  height: 100%;
}
 /deep/ .el-tag {
  border-radius: 2px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
  background: #E9F3FC;
  border: none;
}
 /deep/ .el-tag--danger {
  color: #FA5151;
  background: #FEEDED;
}
 /deep/ .el-tag--success {
  color: #00B578;
  background: #E5F7F1;
}
 /deep/ .el-tag--warning {
  color: #FF8F1F;
  background: #FFF3E8;
}
.questionnaire {
  height: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.questionnaire-header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.questionnaire-header-top,
.questionnaire-header .questionnaire-header-ul,
.questionnaire-header li {
  display: flex;
  align-items: center;
}
.questionnaire-header-top {
  margin-bottom: 10px;
}
.questionnaire-header-top .questionnaire-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.9);
}
.questionnaire-header .questionnaire-header-ul {
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.questionnaire-header .questionnaire-header-ul .li-label {
  color: rgba(0, 0, 0, 0.4);
}
.questionnaire-header .questionnaire-header-ul .li-value {
  color: rgba(0, 0, 0, 0.85);
}
.questionnaire-content {
  overflow-y: auto;
  height: calc(100% - 100px);
}
.questionnaire-content .right-no-data img {
  width: 125px;
  height: 117px;
}
.questionnaire-content .right-no-data-text {
  color: rgba(0, 0, 0, 0.5);
}
.questionnaire-content-list {
  padding: 20px;
  line-height: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.questionnaire-content-list:last-child {
  border-bottom: none;
}
.questionnaire-content-list .questionnaire-list-label {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}
.questionnaire-content-list .questionnaire-list-value {
  display: inline-block;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
  border-radius: 2px;
  background: rgba(40, 136, 232, 0.04);
}
.drawer-footer {
  margin-top: 20px;
}
.drawer-footer .el-button {
  line-height: 24px;
  padding: 8px 14px;
}
