.introjs-tooltip{
  background-color: #1a8cff !important;
  left: -2.2188px !important;
  .introjs-tooltip-header{
    display: none;
  }

} 
.introjs-arrow.top, .introjs-tooltip-header,.introjs-arrow.top,.introjs-arrow.top-middle {
  border-color: transparent transparent #1a8cff !important;
}
.introjs-arrow.bottom, .introjs-arrow.bottom-middle, .introjs-arrow.bottom-right{
  border-color:#1a8cff transparent transparent !important;

}
.introjs-tooltipbuttons{
  border-top:none !important
}
.introjs-helperLayer{
  box-shadow: rgb(33 33 33 / 0%) 0px 0px 1px 2px, rgb(33 33 33 / 70%) 0px 0px 0px 5000px !important;
}
.introjs-bullets{
  // display: none !important;
}