@import './decisionPlatform_product.less';
@import './element.less';

:root {
  --primary-color: #2888e8;
  --primary-color-lighter: #EAF3FD;
  --bg-color: #fff;
  --bg-color-lighter: rgba(#000,0.04);
  --text-color: #000;
  --text-color-secondary: rgba(#000,0.85);
  --text-color-tertiary: rgba(#000,0.65);
  --text-color-quaternary: rgba(#000,0.3);
  --text-color-hover: none;
  --header-bg: #f8f9fa;
  --border-color: #dee2e6;
  --caret-image: url('../../../../public/images/home/caret_3.png');
  --main-bg: #f2f3f7;
  --nav-border-color: none;

}

:root.dark {
  --primary-color: #2888e8;
  --primary-color-lighter: #EAF3FD;
  --bg-color: #000;
  --bg-color-lighter: #6d6d6d;
  --text-color: #fff;
  --text-color-secondary: #fff;
  --text-color-tertiary: #fff;
  --text-color-quaternary: #fff;
  --text-color-hover: #000;
  --header-bg: #2d2d2d;
  --border-color: #444444;
  --caret-image: url('../../../../public/images/home/caret_4.png');
  --main-bg: #232738;
  --nav-border-color: 1px solid #3e3e3e;

  

}
