@font-face {
  font-family: "iconfont"; /* Project id 3355381 */
  src: url('iconfont.woff2?t=1653032917666') format('woff2'),
       url('iconfont.woff?t=1653032917666') format('woff'),
       url('iconfont.ttf?t=1653032917666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\e60d";
}

.icon-qiye:before {
  content: "\e637";
}

.icon-kaisuohuansuo:before {
  content: "\e629";
}

.icon-user:before {
  content: "\e606";
}

